<div class="app">
  <div class="container">
    <div class="row navigation">
      <div class="col-xs-3 offset-9">
        <span class="close">CLOSE</span>
      </div>
    </div>

    <div class="row app-info">
      <div class="col-xs-12">
        <div class="info">
          <div class="app-logo">
            <img src="./../assets/Vector.png" alt="" />
          </div>
          <span class="app-name">
            COGNITIVE SKILLS
          </span>
          <p class="app-motto">
            Tempor minim id consequat commodo cupidatata Lorem ad.
          </p>
        </div>
      </div>
    </div>

    <div class="row rank-stepper">
      <div class="col-xs-4">
        <div class="rank-label">Current Rank</div>
        <div class="rank"><b>Beginner</b></div>
        <div class="shield-bg">
          <img src="./../assets/rank-shield.png" alt="">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="shield-bg">
          <img src="./../assets/rank-shield-invert.png" alt="">
        </div>
      </div>
      <div class="col-xs-4">
        <div class="rank-label">Next Rank</div>
        <div class="rank"><b>Novice</b></div>
        <div class="shield-bg">
          <img src="./../assets/rank-shield.png" alt="">
        </div>
      </div>
      <span class="goal">Objective: Score above 1280 in Cognitive Skills</span>
      <div class="step-line"></div>
    </div>

    <div class="row help-section">
      <div class="col-xs-6">
        <span style="margin-bottom: -10px;">Helps you train</span>
        <div class="row">
          <div class="col-xs-6">
            <div class="train-model">
              <img src="./../assets/quantitative-reasoning.png" alt="">
            </div>
            <div class="model-text">Quantitive Reasoning</div>
          </div>
          <div class="col-xs-6">
            <div class="train-model">
              <img src="./../assets/planning.png" alt="">
            </div>
            <div class="model-text">Planning</div>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 mg-auto">
        <div class="start-play-btn">
          <span class="text">
            START PLAYING
          </span>
          <span class="icon">
            <img src="./../assets/circle.png" alt="">
            <img src="./../assets/horizontal-line.png" alt="">
            <img src="./../assets/right-arrow.png" alt="">
          </span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-8 mg-auto">
        <div class="how-to-play-btn">
          <img src="./../assets/question-mark.png" alt="">
          <span>HOW TO PLAY</span>
        </div>
      </div>
    </div>
  </div>
</div>
